/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Odibee Sans', Roboto, sans-serif; }

/*:host {
    position: absolute;
     display: flex;
    font-size:17px; 
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
}*/

:host{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.container-grid{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content:space-between;
}
/*
.carousel{
position:fixed;
width: 100%;
top: 60px;
}
  */