footer {
    background-color: #2D2A2A;
    width: 100%;
  }
  
  .rodape {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
  }


  .logo-rodape {
    width: 22%;
    height: 178px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
  }

  .logo_marca_rodape{
      width: 60%;
  }

  .logo_tipo_rodape{
      width: 70%;
      margin-top: -6%;
  }

  .logo-rodape p{
      font-size: 18px;
      font-family: 'Odibee Sans', sans-serif;
      color: #5E5E5E;
      text-align: center;
  }
  #logo-rodape-final{
      display: none;
  }


  .links-informacao {
    width: 18%;
    height: 178px;
    align-items: left;
    align-content:flex-end;
    justify-content: left;
    flex-direction: column;
    display: flex;
  }
  .links-categorias {
    width: 18%;
    height: 178px;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    display: flex;
  }
  
  .links h2 {
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Odibee Sans', sans-serif;
  }
  .links a{
    color: #939393;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Odibee Sans', sans-serif;
    flex-direction: column;
  }

  .links p{
      margin: 0px;
  }


  .final-rodape{
      width: 26%;
  }
  .sociais {
    display: flex;
    width: 100%;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    height: 178px;
  }
  .sociais a {
    margin: 3%;
    color: #939393;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Odibee Sans', sans-serif;
    flex-direction: row;
  }
  
  .img_sociais{
      width: 25px;
      margin-right: 10px;
  }
  

  /*responsivo para celular*/
@media screen and (max-width: 519px) {
    /*rodape------------------------------*/
    .rodape{
        flex-direction: column;
    }
    .logo-rodape{
        width: 80%;  
    }
    .links-informacao{
        width: 80%;
    }
    .links-categorias{
        width: 80%;
    }
    .sociais{
        width: 80%;
    }
   
    #logo-rodape-final{
        display: flex;
    }
    .final-rodape{
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 870px) {
     /*RODAPE----------------------------------------------------------*/
   
    .rodape{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       }
       .logo-rodape{
           width: 40%;   
           height: 21%; 
           margin: 2.5% ;
       }
       .links-informacao{
           height: 23%;
           width: 40%;
           flex-direction: column;
           margin: 2%;
       }
       .links-categorias{
           height: 23%;
           width: 40%;
           margin: 2%;
       }
       .sociais{
           height: 50%;
           width: 50%;
           margin: 2.5%;
       }
       #logo-rodape-final{
           display: flex;
       }
       #logo-rodape-inicial{
           display: none;
       }
       .final-rodape{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

}