<footer>
<div class="container rodape">
            
    <div class="logo-rodape" id="logo-rodape-inicial">
        <img class="logo_marca_rodape" src="./assets/img/logo.svg" alt="Logo Game Mania">
        <img class="logo_tipo_rodape"  src="./assets/img/logotipo.png" alt="logotipo do Game Mania" />
        <p>Desde 2012 fazendo a sua diverção</p>
    </div>
        <div class="links links-informacao">
            <h2>Informações e dúvidas</h2>
                <p><a href="#">Quem somos</a></p>
                <p><a href="#">Contato</a></p>
                <p><a href="#">Cupom de desconto</a></p>
                <p><a href="#">Trocas e Devoluções</a></p>
                <p><a href="#">Vale presente</a></p>
        </div>
        <div class="links links-categorias">
            <h2>Categorias mais buscadas</h2>
            <p><a href="#">Jogos de Ação</a></p>
            <p><a href="#">Placa de vídeo</a></p>
            <p><a href="#">Mouse e teclado</a></p>
            <p><a href="#">Fones de ouvido</a></p>
            <p><a href="#">Smartphones</a></p>
        </div>

    <div class="final-rodape">
        <div class="logo-rodape" id="logo-rodape-final">
            <img class="logo_marca_rodape" src="./assets/img/logo.svg" alt="Logo Game Mania">
            <img class="logo_tipo_rodape"  src="./assets/img/logotipo.png" alt="logotipo do Game Mania" />
            <p>Desde 2012 fazendo a sua diverção</p>
        </div>
        <div class="sociais">
            <a href="#"><img src="./assets/img/facebook.svg" id="facebook" class="img_sociais" alt="Logo do facebook">https://www.facebook.com/gamemania/</a>
            <a href="#"><img src="./assets/img/instagram.svg" id="instagram" class="img_sociais" alt="Logo do instagram">https://www.instagram.com/gamemania</a>
            <a href="#"><img src="./assets/img/email.svg" id="email" class="img_sociais" alt="Logo do email">gamemania@gmail.com</a>
            <a href="#"><img src="./assets/img/telefone.svg" id="telefone" class="img_sociais" alt="Logo do youtube">(11) 99999-9999</a>
        </div>
    </div>

</div>
</footer>
